@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background-color: #191a19;
}

/* src/index.css */
@font-face {
  font-family: 'Audiowide';
  src: local('Audiowide-Regular'), url('./assets/fonts/Audiowide-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Opensans';
  src: local('OpenSans-Regular'), url('./assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Orbitron';
  src: local('Orbitron-Regular'), url('./assets/fonts/Orbitron-Regular.ttf');
}